# Byte-compiled / optimized files
__pycache__/
*.pyc

# Virtual environment
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
notebooks/.ipynb_checkpoints/
local
/data/